<div id="<%= dom_id journal_entry %>">
  <p>
    <strong>Type:</strong>
    <%= journal_entry.entry_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= journal_entry.amount %>
  </p>

  <p>
    <strong>Value date:</strong>
    <%= journal_entry.value_date %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= journal_entry.creation_date %>
  </p>

  <p>
    <strong>Statement:</strong>
    <%= journal_entry.statement_id %>
  </p>
</div>
